# 头文件include
---
Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
...

# 错误太多停止
---
CompileFlags:
  Add: -ferror-limit=0
...

# 增加额外的编辑期warning(非编译期的warning)
---
# FIXME: those disable or not-enable by godot-cpp
If:
  PathMatch: ppgame/.*.cpp

CompileFlags:
  Add: [
    -Wordered-compare-function-pointers,
    -Wunused-parameter
  ]
...

# FIXME: "" or <>         https://github.com/llvm/llvm-project/pull/67749
# FIXME: Hover doxygen    https://github.com/clangd/clangd/issues/529
