root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true

# ReSharper properties
resharper_cpp_case_block_braces = end_of_line
resharper_cpp_invocable_declaration_braces = end_of_line
resharper_cpp_other_braces = end_of_line
resharper_cpp_type_declaration_braces = end_of_line
resharper_namespace_declaration_braces = end_of_line

[*.{cpp,hpp,c,h,mm}]
trim_trailing_whitespace = true

[{*.gradle,AndroidManifest.xml}]
indent_style = space
indent_size = 4

[{*.py,SConstruct,SCsub}]
indent_style = space
indent_size = 4

# YAML requires indentation with spaces instead of tabs.
[*.{yml,yaml}]
indent_style = space
indent_size = 2
